<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Nova City Project 6 by Jober</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="site">
  <header class="site-header">
    <h1>Nova City Lab</h1>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('projects') }}">Projects</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <style>
      footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: transparent;
    font-size: 1.0em;
    color: #666;
  }
</style>

    <p>Built with Python & a bit of insanity.</p>
</footer>
  </body>
</html>